APP_DEBUG = false#暂用作于，系统异常邮件通知的标识SERVICE_NAME = 程序名称#跨域域名限制CROSS_DOMAIN = *#令牌配置[TOKEN]#令牌有效期EXPIRE = 7200#刷新令牌有效期REFRESH_EXPIRE = 604800#缓存配置[CACHE]#默认驱动，建议redisDRIVER = file#reids配置[REDIS]HOST = 127.0.0.1PORT = 6379#密码PASSWORD =#选择库SELECT = 0#上传配置[FILESYSTEM]#默认本地驱动，可不理会，使用后台系统进行配置DRIVER = local[APP]DEFAULT_TIMEZONE = Asia/Shanghai#数据库配置[DATABASE]TYPE = mysqlHOSTNAME = 127.0.0.1DATABASE = plumadminUSERNAME = rootPASSWORD = rootHOSTPORT = 3306CHARSET = utf8DEBUG = true[LANG]default_lang = zh-cn