APP_DEBUG = falseSERVICE_NAME = 程序名称(用作email通知)CROSS_DOMAIN = *[TOKEN]#令牌有效期EXPIRE = 7200#刷新令牌有效期REFRESH_EXPIRE = 604800[CACHE]#缓存前缀PREFIX = plumadminDRIVER = file[REDIS]HOST = 127.0.0.1PORT = 6379PASSWORD =SELECT = 0[FILESYSTEM]DRIVER = local[APP]DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]TYPE = mysqlHOSTNAME = 127.0.0.1DATABASE = plumadminUSERNAME = rootPASSWORD = rootHOSTPORT = 3306CHARSET = utf8DEBUG = true[LANG]default_lang = zh-cn